<div class="mt-10 m-auto">
  <h1 class="text-purple-700 text-3xl">Sample App</h1>
  <p>This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  <br/>
  <%= link_to "Sign Up Now !", signup_path, class: "border border-indigo-500 text-indigo-500 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-indigo-600 focus:outline-none focus:shadow-outline" %>
  <%= link_to "Sign In !", login_path, class: "border border-indigo-500 text-indigo-500 rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:text-white hover:bg-indigo-600 focus:outline-none focus:shadow-outline" %>
</div>